<div id="main" class="{{sportClass}}">
  <p class="p-set menu">
    <a href="/" {{#ifEquals path '/'}}class="active"{{/ifEquals}}>Soccer</a> | 
    <a href="/hockey/" {{#ifEquals path '/hockey/'}}class="active"{{/ifEquals}}>Hockey</a> | 
    <a href="/tennis/" {{#ifEquals path '/tennis/'}}class="active"{{/ifEquals}}>Tennis</a> | 
    <a href="/basketball/" {{#ifEquals path '/basketball/'}}class="active"{{/ifEquals}}>Basketball</a> | 
    <a href="/handball/" {{#ifEquals path '/handball/'}}class="active"{{/ifEquals}}>Handball</a> | 
    <a href="/volleyball/" {{#ifEquals path '/volleyball/'}}class="active"{{/ifEquals}}>Volleyball</a> | 
    <a href="/baseball/" {{#ifEquals path '/baseball/'}}class="active"{{/ifEquals}}>Baseball</a> | 
    <a href="/american-football/" {{#ifEquals path '/american-football/'}}class="active"{{/ifEquals}}>American Football</a> | 
    <a href="/rugby-union/" {{#ifEquals path '/rugby-union/'}}class="active"{{/ifEquals}}>Rugby Union</a> | 
    <a href="/others/">More Sports »</a>
  </p>
  <p class="p-set menu">
    <a href="{{path}}" {{#ifEquals day 'Today'}}class="active"{{/ifEquals}}>Today</a> | 
    <a href="{{path}}?d=-1" {{#ifEquals day 'Yesterday'}}class="active"{{/ifEquals}}>Yesterday</a> | 
    <a href="{{path}}?d=1" {{#ifEquals day 'Tomorrow'}}class="active"{{/ifEquals}}>Tomorrow</a>
  </p>
  <p class="p-set menu">
    <a href="{{path}}{{parameterAllGames}}" {{#ifEquals status 'All Games'}}class="active"{{/ifEquals}}>All Games</a> | 
    <a href="{{path}}?s=2" {{#ifEquals status 'Live'}}class="active"{{/ifEquals}}>Live</a> | 
    <a href="{{path}}{{parameterFinished}}" {{#ifEquals status 'Finished'}}class="active"{{/ifEquals}}>Finished</a>
  </p>
  <p class="refresh-top"><a href="">Refresh</a></p>
  <h2>{{sport}} » {{day}} » {{status}}</h2>
  <p class="advert-top"><a href="">Bet on {{sport}} from your mobile with Bet9ja!</a></p>
  <div id="score-data">
    {{#each tournaments}}
      <h4>{{title}}</h4>
      {{#each matches}}
        <span {{#ifEquals status 'Live'}}class="live"{{/ifEquals}}>{{time}}{{#ifEquals status 'Postponed'}}<span class="status canceled">Postponed</span>{{/ifEquals}}{{#ifEquals status 'Canceled'}}<span class="status">Canceled</span>{{/ifEquals}}</span>{{#if isSideOneTennisServe}}<img src="../img/blank.gif" class="tennis-serve">{{/if}}{{#if isSideOneBaseballServe}}<img src="../img/blank.gif" class="baseball-serve">{{/if}}{{#if isSideOneBaseballServeOpp}}<img src="../img/blank.gif" class="baseball-serve-opposite">{{/if}}{{#if isSideOneCricketBowling}}<img src="../img/blank.gif" class="cricket-bowling">{{/if}}{{#if isSideOneCricketBatting}}<img src="../img/blank.gif" class="cricket-batting">{{/if}}{{sideOne}}{{#ifEquals sideOneRedCards '1'}}<img src="../img/blank.gif" class="rcard-1">{{/ifEquals}}{{#ifEquals sideOneRedCards '2'}}<img src="../img/blank.gif" class="rcard-2">{{/ifEquals}}{{#ifEquals sideOneRedCards '3'}}<img src="../img/blank.gif" class="rcard-3">{{/ifEquals}}{{#ifEquals sideOneRedCards '4'}}<img src="../img/blank.gif" class="rcard-4">{{/ifEquals}} - {{#if isSideTwoTennisServe}}<img src="../img/blank.gif" class="tennis-serve">{{/if}}{{#if isSideTwoBaseballServe}}<img src="../img/blank.gif" class="baseball-serve">{{/if}}{{#if isSideTwoBaseballServeOpp}}<img src="../img/blank.gif" class="baseball-serve-opposite">{{/if}}{{#if isSideTwoCricketBowling}}<img src="../img/blank.gif" class="cricket-bowling">{{/if}}{{#if isSideTwoCricketBatting}}<img src="../img/blank.gif" class="cricket-batting">{{/if}}{{sideTwo}}{{#ifEquals sideTwoRedCards '1'}}<img src="../img/blank.gif" class="rcard-1">{{/ifEquals}}{{#ifEquals sideTwoRedCards '2'}}<img src="../img/blank.gif" class="rcard-2">{{/ifEquals}}{{#ifEquals sideTwoRedCards '3'}}<img src="../img/blank.gif" class="rcard-3">{{/ifEquals}}{{#ifEquals sideTwoRedCards '4'}}<img src="../img/blank.gif" class="rcard-4">{{/ifEquals}} <a href="" {{#ifEquals status 'Live'}}class="live"{{/ifEquals}}>{{score}}</a> {{setsScore}}<br>
      {{/each}}
    {{else}}
      <p>No match found</p>
    {{/each}}
  </div>
  <p class="advert-bottom"><a href="">Bet on {{sport}} from your mobile with Bet9ja!</a></p>
  <p class="p-set line-bottom refresh-bottom"><a href="">Refresh</a></p>
  <p class="p-set line-bottom">
    <a href="/" {{#ifEquals path '/'}}class="active"{{/ifEquals}}>Soccer</a> | 
    <a href="/hockey/" {{#ifEquals path '/hockey/'}}class="active"{{/ifEquals}}>Hockey</a> | 
    <a href="/tennis/" {{#ifEquals path '/tennis/'}}class="active"{{/ifEquals}}>Tennis</a> | 
    <a href="/basketball/" {{#ifEquals path '/basketball/'}}class="active"{{/ifEquals}}>Basketball</a> | 
    <a href="/handball/" {{#ifEquals path '/handball/'}}class="active"{{/ifEquals}}>Handball</a> | 
    <a href="/volleyball/" {{#ifEquals path '/volleyball/'}}class="active"{{/ifEquals}}>Volleyball</a> | 
    <a href="/baseball/" {{#ifEquals path '/baseball/'}}class="active"{{/ifEquals}}>Baseball</a> | 
    <a href="/american-football/" {{#ifEquals path '/american-football/'}}class="active"{{/ifEquals}}>American Football</a> | 
    <a href="/rugby-union/" {{#ifEquals path '/rugby-union/'}}class="active"{{/ifEquals}}>Rugby Union</a> | 
    <a href="/others/">More Sports »</a>
  </p>
  <p class="p-set line-bottom"><a href="#top">Top</a></p>
  <p>LiteScore provides live sport scores for mobile users. This page shows minimal content suitable for those with limited network access.</p>
  <p class="gamble-responsibly-footer">Gamble Responsibly. <a href="http://www.gamblingtherapy.org/" target="_blank">Gambling Therapy</a></p>
</div>