<div id="main">
  <p>
    <a href="/">Soccer</a> | 
    <a href="/hockey/">Hockey</a> | 
    <a href="/tennis/">Tennis</a> | 
    <a href="/basketball/">Basketball</a> | 
    <a href="/handball/">Handball</a> | 
    <a href="/volleyball/">Volleyball</a> | 
    <a href="/baseball/">Baseball</a> | 
    <a href="/american-football/">American Football</a> | 
    <a href="/rugby-union/">Rugby Union</a> | 
    <a href="/others/">More Sports ></a>
  </p>
  <h2>More Sports</h2>
  <ul>
    <li><a href="/aussie-rules/">Aussie Rules</a> ({{aussieRulesCount}})</li>
    <li><a href="/badminton/">Badminton</a> ({{badmintonCount}})</li>
    <li><a href="/bandy/">Bandy</a> ({{bandyCount}})</li>
    <li><a href="/beach-soccer/">Beach Soccer</a> ({{beachSoccerCount}})</li>
    <li><a href="/beach-volleyball/">Beach Volleyball</a> ({{beachVolleyballCount}})</li>
    <li><a href="/boxing/">Boxing</a> ({{boxingCount}})</li>
    <li><a href="/cricket/">Cricket</a> ({{cricketCount}})</li>
    <li><a href="/darts/">Darts</a> ({{dartsCount}})</li>
    <li><a href="/field-hockey/">Field Hockey</a> ({{fieldHockeyCount}})</li>
    <li><a href="/floorball/">Floorball</a> ({{floorballCount}})</li>
    <li><a href="/futsal/">Futsal</a> ({{futsalCount}})</li>
    <li><a href="/kabaddi/">Kabaddi</a> ({{kabaddiCount}})</li>
    <li><a href="/mma/">MMA</a> ({{mmaCount}})</li>
    <li><a href="/netball/">Netball</a> ({{netballCount}})</li>
    <li><a href="/rugby-league/">Rugby League</a> ({{rugbyLeagueCount}})</li>
    <li><a href="/snooker/">Snooker</a> ({{snookerCount}})</li>
    <li><a href="/table-tennis/">Table Tennis</a> ({{tableTennisCount}})</li>
    <li><a href="/water-polo/">Water Polo</a> ({{waterPoloCount}})</li>
  </ul>
  <p>
    <a href="/">Soccer</a> | 
    <a href="/hockey/">Hockey</a> | 
    <a href="/tennis/">Tennis</a> | 
    <a href="/basketball/">Basketball</a> | 
    <a href="/handball/">Handball</a> | 
    <a href="/volleyball/">Volleyball</a> | 
    <a href="/baseball/">Baseball</a> | 
    <a href="/american-football/">American Football</a> | 
    <a href="/rugby-union/">Rugby Union</a> | 
    <a href="/others/">More Sports ></a>
  </p>
  <p><a href="#top">Top</a></p>
</div>